@-moz-document domain("danbooru.donmai.us") {
/* GENERAL */
/** DESCRIPTION : set the main font and change others elements **/
        * {
            font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
        }
        html {
            overflow-x: hidden !important;
        }
        body,
        #page {
            background: #EEE !important;
        }
        #upgrade-account-notice {
            display: none !important;
        }
        article img,
        .preview img {
            border: none !important;
        }
        #posts .hidden-posts-notice {
            visibility: hidden
        }
        footer#page-footer {
            display: none !important;
        }
    
/* HEADER */
/** DESCRIPTION : change the elements of the header **/
        header#top h1 {
            /*** HEADER CONTAINER ***/
            background-color: #2CC990 !important;
            height: 40px !important;
            width: 100% !important;
            text-align: center !important;
            position: fixed !important;
            margin-left: 0px !important;
            top: -6px !important;
            line-height: 26px !important;
            z-index: 999 !important;
            transition: margin-left .5s;
        }
        header#top h1 a {
            font-size: 13pt !important;
            width: 100% !important;
            color: #FFF !important;
            visibility: hidden;
        }
        header#top h1 a::after {
            /*** HEADER TITLE ***/
            content: "DANBOORU 段ボール" !important;
            font-family: "Roboto", "KFHimaji" !important;
            font-stretch: condensed !important;
            width: 100% !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 9.5px auto !important;
            visibility: visible !important;
        }
        #nav {
            /*** HEADER MENU ***/
            background-color: #25373D !important;
            min-height: 1080px !important;
            width: 200px !important;
            padding-top: 30px !important;
            position: fixed !important;
            top: 0px !important;
            left: -200px;
            transition: all .3s ease-in-out !important;
            z-index: 999 !important;
        }
        header#top menu {
            background: transparent !important;
            margin-top: -10px !important;
        }
        header#top menu li {
            display: block !important;
            padding: 0px 0px 9px 0px !important;
        }
        header#top menu li a {
            color: #FFF !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            transition: all .3s ease-in-out !important;
        }
        header#top menu li a:hover {
            color: #BEBEBE !important;
            transition: all .3s ease-in-out !important;
        }
        header#top menu.main li.current a {
            background: transparent !important;
        }
        #quick_search_body_matches,
        #quick_search_name_matches,
        #quick_search_name,
        #quick_search_title {
            background: transparent !important;
            border: none !important;
            color: #FFF !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 0px 8px !important;
            margin-left: 0px !important;
        }
        #trigger-btn {
            background: no-repeat url("https://i.imgur.com/3wq5etY.png") center !important;
            background-color: transparent;
            background-size: 22px auto !important;
            border: none !important;
            color: transparent !important;
            position: absolute !important;
            top: 9px !important;
            right: -48px !important;
        }
    
/* ACCOUNT */
/** DESCRIPTION : change the elements of the account page **/
        #c-users #a-show {
            /*** ACCOUNT MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-users #a-show .user-member {
            color: #2C82C9 !important;
            font-stretch: condensed !important;
            text-transform: capitalize !important;
            margin-bottom: -40px !important;
        }
        #c-users #a-show h1,
        #c-users #a-show h2,
        #c-users #a-show h3,
        #c-users #a-show h4,
        #c-users #a-show strong {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
        #c-users > #a-show > div:nth-of-type(1) {
            border-top: 1px solid #BEBEBE !important;
            padding: 20px 30px 0px 30px !important;
            margin-top: 15px !important;
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
        #c-users #a-show table.user-statistics th {
            color: #34495E !important;
            font-stretch: condensed !important;
            text-align: left !important;
            text-transform: uppercase !important;
        }
        #c-users #a-show .box.user-favorites {
            border-top: 1px solid #BEBEBE !important;
            padding: 20px 30px 0px 30px !important;
            margin-top: 30px !important;
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
        #c-users #a-show .box.user-favorites a {
           color: #5C9F97 !important;
        }
    
/* ARTIST/TAG/POOL/WIKI/NOTES/SEARCHES/CHANGES/UPLOADS/APPEALS/ETC */
/** DESCRIPTION : change the elements of the artist/tag/poll/notes/searches/changes/etc page **/
        #c-artists #a-index,
        #c-tags #a-index,
        #c-pools #a-index,
        #c-notes #a-index,
        #c-wiki-pages #a-index,
        #c-wiki-page-versions #a-index,
        #c-uploads #a-index,
        #c-post-appeals #a-index,
        #c-post-flags #a-index,
        #c-post-replacements #a-index,
        #c-notes-versions #a-index,
        #c-artist-versions #a-index,
        #c-artist-commentary-versions #a-index,
        #c-artist-commentaries #a-index,
        #c-post-versions #a-index,
        #c-explore-posts #a-searches,
        #c-tag-aliases #a-index,
        #c-tag-implications #a-index,
        #c-tag-subscriptions #a-index,
        #c-forum-topics #a-index,
        #c-forum-posts #a-index,
        #c-static #a-keyboard-shortcuts,
        #c-static #a-bookmarklet,
        #c-users #a-index,
        #c-users #a-edit,
        #c-user-feedbacks #a-index,
        #c-bans #a-index,
        #c-mod-actions #a-index,
        #c-delayed-jobs #a-index,
        #c-burs #a-index,
        #c-janitor-trials #a-index,
        #a-search,
        #a-new,
        #a-request-new,
        .bulk-update-requests {
            /*** ARTIST/TAG/POOL LIST MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-artists #a-index .simple_form.inline-form,
        #c-tags #a-index .simple_form.inline-form,
        #c-post-appeals .simple_form.inline-form,
        #c-post-flags #a-index .simple_form.inline-form,
        #c-post-replacements #a-index .simple_form.inline-form,
        #c-tag-aliases #a-index .simple_form.inline-form,
        #c-tag-implications #a-index .simple_form.inline-form {
            /*** ARTIST/TAG/POOL LIST SEARCH ***/
            margin-top: 5px !important;
        }
        #c-pools #a-index .search {
            margin-top: 5px !important;
            margin-bottom: 10px !important;
        }
        #c-pools #a-index .search th {
            text-align: left !important;
        }
        #c-pools #a-index .search label {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
        }
        #c-wiki-pages #a-index #content h1,
        #c-wiki-page-versions #a-index #content h1 {
            display: none !important;
        }
        #c-wiki-pages #a-index #content,
        #c-wiki-page-versions #a-index #content {
            margin-top: 10px !important;
        }
        #c-wiki-pages #a-index #sidebar h1, 
        #c-wiki-page-versions #a-index #sidebar h1 {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }
        #c-notes #a-index h1,
        #c-notes-versions #a-index h1,
        #c-artist-versions #a-index h1,
        #c-artist-commentary-versions #a-index h1,
        #c-artist-commentaries #a-index h1,
        #c-post-versions #a-index h1,
        #c-post-appeals #a-index h1,
        #c-post-flags #a-index h1,
        #c-post-replacements #a-index h1,
        #c-explore-posts #a-searches h1,
        #c-forum-topics #a-index h1,
        #c-forum-posts #a-index h1,
        #c-static #a-keyboard-shortcuts > h1,
        #c-static #a-bookmarklet h1,
        #c-tag-subscriptions #a-index h1,
        #c-users #a-index h1,
        #c-users #a-edit h1,
        #c-user-feedbacks #a-index h1,
        #c-bans #a-index h1,
        #c-mod-actions #a-index h1,
        #c-delayed-jobs #a-index h1,
        #c-burs #a-index h1,
        #c-janitor-trials #a-index h1,
        #a-search h1,
        #a-request-new h1,
        #a-new h1,
        .bulk-update-requests h1 {
            font-size: 17pt !important;
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
        #c-artists #a-index .striped,
        #c-tags #a-index .striped,
        #c-pools #a-index .striped,
        #c-notes #a-index .striped,
        #c-wiki-pages #a-index .striped,
        #c-wiki-page-versions #a-index .striped,
        #c-uploads #a-index .striped,
        #c-post-appeals #a-index .striped,
        #c-post-flags #a-index .striped,
        #c-post-replacements #a-index .striped,
        #c-notes-versions #a-index .striped,
        #c-artist-versions #a-index .striped,
        #c-artist-commentary-versions #a-index .striped,
        #c-artist-commentaries #a-index .striped,
        #c-post-versions #a-index .striped,
        #c-explore-posts #a-searches .striped,
        #c-tag-aliases #a-index .striped,
        #c-tag-sibscriptions #a-index .striped,
        #c-forum-topics #a-index .striped,
        #c-forum-posts #a-index .striped,
        #c-users #a-index .striped,
        #c-user-feedbacks #a-index .striped,
        #c-bans #a-index .striped,
        #c-mod-actions #a-index .striped,
        #c-delayed-jobs #a-index .striped,
        #c-burs #a-index .striped,
        #c-janitor-trials #a-index .striped {
            /*** ARTIST/TAG/POOL LIST TABLE ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE;
            width: 100% !important;
            margin-bottom: -1px !important;
        }
        #c-uploads #a-index .striped {
            margin-top: 10px !important;
        }
        #c-forum-posts #a-index .striped {
            margin-top: 10px !important;
            margin-bottom: -11px !important;
        }
        #c-artists #a-index thead,
        #c-tags #a-index thead,
        #c-pools #a-index thead,
        #c-notes #a-index thead,
        #c-wiki-pages #a-index thead,
        #c-wiki-page-versions #a-index thead,
        #c-uploads #a-index thead,
        #c-post-appeals #a-index thead,
        #c-post-flags #a-index thead,
        #c-post-replacements #a-index thead,
        #c-notes-versions #a-index thead,
        #c-artist-versions #a-index thead,
        #c-artist-commentary-versions #a-index thead,
        #c-artist-commentaries #a-index thead,
        #c-post-versions #a-index thead,
        #c-tag-aliases #a-index thead,
        #c-tag-implications #a-index thead,
        #c-explore-posts #a-searches thead,
        #c-forum-topics #a-index thead,
        #c-forum-posts #a-index thead,
        #c-tag-subscriptions #a-index thead,
        #c-users #a-index thead,
        #c-user-feedbacks #a-index thead,
        #c-bans #a-index thead,
        #c-mod-actions #a-index thead,
        #c-delayed-jobs #a-index thead,
        #c-burs #a-index thead,
        #c-janitor-trials #a-index thead {
            display: none;
        }
        #c-artists #a-index .paginator,
        #c-artists #a-index hr,
        #c-tags #a-index .paginator,
        #c-tags #a-index hr,
        #c-pools #a-index .paginator,
        #c-pools #a-index hr,
        #c-notes #a-index .paginator,
        #c-notes #a-index hr,
        #c-wiki-pages #a-index .paginator,
        #c-wiki-pages #a-index hr,
        #c-wiki-page-versions #a-index .paginator,
        #c-wiki-page-versions #a-index hr,
        #c-uploads #a-index .paginator,
        #c-uploads #a-index hr,
        #c-post-appeals #a-index .paginator,
        #c-post-appeals #a-index hr,
        #c-post-flags #a-index .paginator,
        #c-post-flags #a-index hr,
        #c-post-replacements #a-index .paginator,
        #c-post-replacements #a-index hr,
        #c-post-notes-versions #a-index .paginator,
        #c-post-notes-versions #a-index hr,
        #c-artist-versions #a-index .paginator,
        #c-artist-versions #a-index hr,
        #c-artist-commentary-versions #a-index .paginator,
        #c-artist-commentary-versions #a-index hr,
        #c-artist-commentaries #a-index .paginator,
        #c-artist-commentaries #a-index hr,
        #c-artist-commentaries #a-index hr,
        #c-versions #a-index .paginator,
        #c-versions #a-index hr,
        #c-tag-aliases #a-index .paginator,
        #c-tag-aliases #a-index hr,
        #c-tag-implications #a-index .paginator,
        #c-tag-implications #a-index hr,
        #c-forum-topics #a-index .paginator,
        #c-forum-topics #a-index hr,
        #c-forum-posts #a-index .paginator,
        #c-forum-posts #a-index hr,
        #c-users #a-index .paginator,
        #c-users #a-index hr,
        #c-user-feedbacks #a-index .paginator,
        #c-user-feedbacks #a-index hr,
        #c-bans #a-index .paginator,
        #c-bans #a-index hr,
        #c-mod-actions #a-index .paginator,
        #c-mod-actions #a-index hr,
        #c-delayed-jobs #a-index .paginator,
        #c-delayed-jobs #a-index hr,
        #c-burs #a-index .paginator,
        #c-burs #a-index hr,
        #c-janitor-trials #a-index .paginator,
        #c-janitor-trials #a-index hr {
            /*** ARTIST LIST PAGINATION/HR ***/
            display: none !important;
        }
        #c-artists #a-show {
            /*** ARTIST MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-artists #a-show h1,
        #c-artists #a-show h2,
        #c-artists #a-show h3,
        #c-artists #a-show h4,
        #c-artists #a-show strong {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
        #c-artists #a-show h1 a {
            text-transform: capitalize !important;
        }
        #c-artists #a-show .prose {
            border-top: 1px solid #BEBEBE !important;
            padding: 20px 30px 0px 20px !important;
            margin-top: 15px !important;
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
        #c-artists #a-show .recent-posts {
            border-top: 1px solid #BEBEBE !important;
            padding: 20px 30px 0px 30px !important;
            margin-top: 30px !important;
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
    
/* SITE MAP */
/** DESCRIPTION : change the elements of the site map page **/
        #c-static #a-site-map {
            /*** SITE MAP MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-static #a-site-map h1,
        #c-static #a-site-map h2,
        #c-static #a-site-map h3,
        #c-static #a-site-map h4,
        #c-static #a-site-map strong {
            color: #00587A !important;
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
   
/* WIKI */
/** DESCRIPTION : change the elements of the wiki page **/
        #c-wiki-pages #a-show {
            /*** WIKI MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-wiki-pages #a-show h1,
        #c-wiki-pages #a-show h2,
        #c-wiki-pages #a-show h3,
        #c-wiki-pages #a-show h4,
        #c-wiki-pages #a-show strong {
            font-size: 12.5pt !important;
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
        #wiki-page-body {
            margin-top: -9px !important;
            margin-left: -20px !important;
        }
        #wiki-page-body .expandable {
            border: 1px solid #212121 !important;
        }
        #c-wiki-pages #a-show #wiki-page-title {
            margin-top: 5px !important;
            margin-left: -25px !important;
        }
        #wiki-page-posts {
            margin-left: -14px !important;
        }
        .wiki-other-name {
            display: none !important;
        }
        #c-wiki-pages #a-show #sidebar {
            /*** WIKI SIDEBAR ***/
            margin-top: 5px !important;
            margin-left: 0px !important;
        }
  
/* UPLOAD */
/** DESCRIPTION : change the elements of the upload page **/
        #c-uploads #a-new {
            /*** UPLOAD MAIN CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            width: 90% !important;
            padding: 12px 20px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 65px auto !important;
        }
        #c-uploads #a-new h1,
        #c-uploads #a-new h2,
        #c-uploads #a-new h3,
        #c-uploads #a-new h4,
        #c-uploads #a-new strong {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
    
/* LISTING */
/** DESCRIPTION : change the elements in the listing page **/
        #c-posts #a-index #excerpt {
            /*** LISTING ARTIST CONTAINER ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            padding: 20px !important;
            width: 90% !important;
            position: absolute !important;
            top: 120px !important;
            right: 0px !important;
            left: 0px !important;
            margin: auto !important;
        }
        #c-posts #a-index h1,
        #c-posts #a-index h2,
        #c-posts #a-index h3,
        #c-posts #a-index h4,
        #c-posts #a-index strong {
            font-stretch: condensed !important;
            text-transform: uppercase !important;
        }
        #c-posts #posts {
            /*** LISTING ILLUSTRATION CONTAINER ***/
            width: 90% !important;
            position: absolute !important;
            left: 0px;
            right: 0px !important;
            margin: 125px auto !important;
        }
        #c-posts #posts div {
            display: inline !important;
        }
        #c-posts #posts article {
            /*** LISTING THUMBNAILS ***/
            background: #FFF;
            float: left !important;
            padding-bottom: 34px !important;
            margin: auto auto 5px 5px !important;
        }
        #heart-icon {
            /*** LISTING FAVORITE ICON ***/
            background: no-repeat url('https://i.imgur.com/HGsEwLb.png') center !important;
            background-size: cover !important;
            opacity: .7 !important;
        }
        #c-posts article #illustration_dimension {
            /*** LISTING THUMBNAILS ILLUSTRATION DIMENSION ***/
            background: #3F3F3F !important;
            color: #FFF !important;
            font-size: 9.5pt !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 8px 10px 9px 10px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            bottom: 0px !important;
        }
        #posts a img {
            border: none !important;
        }
        #c-posts #posts hr,
        #c-posts #posts .paginator {
            /*** LISTING PAGINATION/HR ***/
            display: none !important;
        }
        #c-posts #a-index #sidebar #tag-box,
        #c-posts #a-index #sidebar #related-box {
            /*** LISTING SIDEBAR BOXES ***/
            display: none !important;
        }
        #c-posts #a-index #sidebar #search-box {
            /*** LISTING SEARCH BOX ***/
            width: 100% !important;
            position: fixed !important;
            top: 39px !important;
            left: 0px !important;
            right: 0px !important;
            margin: auto !important;
            z-index: 99 !important;
        }
        #c-posts #a-index #sidebar #search-box input[type='text'] {
            background: #F9F9F9 !important;
            border: none !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
            padding: 10px 15px 12px 15px !important;
            width: 100% !important;
        }
        .ui-widget-content {
            background: #FFF !important;
            border: none !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
            padding: 8px 25px 10px 7px !important;
        }
        .ui-widget-content li {
            background: inherit !important;
            border: transparent !important;
        }
        .ui-widget-content li:hover {
            background: inherit !important;
       
        }
        #c-posts #a-index #expand-search {
            background-image: url("https://i.imgur.com/ZHtOY2h.png") !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: 14px auto !important;
            border-left: 1px solid #EBEBEB !important;
            border-width: 0px 0px 0px 1px !important;
            color: transparent !important;
            padding: 10px 15px 12px 15px !important;
            position: absolute !important;
            top: 0px !important;
            right: 0px !important;
            z-index: 999 !important;
        }
        #search-dropdown {
            position: absolute !important;
            margin-right: auto !important;
            margin-left: -70px !important;
            margin-top: -80px !important;
        }
        #c-posts #sidebar #search-box h1,
        #c-posts #sidebar #search-box input[value='Go'] {
            display: none !important;
        }
        #c-posts #a-index #post-sections {
            /*** LISTING MENU ***/
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            position: fixed;
            top: 9px !important;
            right: 0px !important;
            z-index: 9999 !important;
        }
        #c-posts #a-index #post-sections a {
            color: #FFF !important;
            font-weight: bold !important;
        }
        #c-posts #a-index #post-sections .active a {
            color: #EBEBEB !important;
        }
         
/* FAVORITE */
/** DESCRIPTION : change the elements of the favorite page **/
        #c-favorites,
        #c-favorite-groups {
            /*** FAVORITE MAIN CONTAINER ***/
            width: 92% !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 90px auto !important;
        }
        #c-favorites #a-index #content {
            margin-left: 0px !important;
        }
        #c-favorites #a-index #content h1 {
            /*** FAVORITE MAIN CONTAINER TITLE ***/
            display: none !important;
        }
        #c-favorites article {
            /*** FAVORITE THUMBNAILS ***/
            padding-bottom: 34px !important;
            margin: auto auto 5px 5px !important;
        }
        #c-favorites article #illustration_dimension {
            /*** FAVORITE THUMBNAILS ILLUSTRATION DIMENSION ***/
            background: #3F3F3F !important;
            color: #FFF !important;
            font-size: 9.5pt !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 8px 10px 9px 10px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            bottom: 0px !important;
        }
        #c-favorites .paginator,
        #c-favorites hr {
            /*** FAVORITE PAGINATION/HR ***/
            display: none !important;
        }
        #c-favorites #a-index #sidebar {
            /*** FAVORITE SIDEBAR ***/
            display: none;
        }

/* POPULAR */
/** DESCRIPTION : change the elements of the popular page **/
        #c-explore-posts #a-popular #popular-nav-links {
            /*** POPULAR NAVIGATION HEADER ***/
            background: #F9F9F9 !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
            padding: 10px 15px 12px 15px !important;
            position: fixed !important;
            top: 39px !important;
            right: 0px !important;
            left: 0px !important;
            z-index: 99 !important;
        }
        #c-explore-posts .period {
            margin: 0 !important;
        }
        #c-explore-posts .period:nth-of-type(2) {
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
        #c-explore-posts .period * {
            color: #34495E !important;
        }
        #c-explore-posts a.desc {
            font-stretch: condensed !important;
            font-weight: bold !important;
            text-transform: uppercase !important;
        }
        #c-explore-posts #a-popular {
            /*** POPULAR ILLUSTRATION CONTAINER ***/
            width: 90% !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 125px auto !important;
        }
        #c-explore-posts #a-popular h1 {
            display: none !important;
        }
        #c-explore-posts #a-popular article {
            /*** POPULAR THUMBNAILS ***/
            padding-bottom: 34px !important;
        }
        #c-explore-posts #a-popular article #illustration_dimension {
            /*** POPULAR THUMBNAILS ILLUSTRATION DIMENSION ***/
            background: #3F3F3F !important;
            color: #FFF !important;
            font-size: 9.5pt !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 8px 10px 9px 10px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            bottom: 0px !important;
        }

/* POOL */
/** DESCRIPTION : change the elements of the pool page **/
        #c-pools #a-show {
            /*** POOL MAIN CONTAINER ***/
            position: absolute !important;
            top: 100px !important;
            left: 0px !important;
            right: 0px !important;
            width: 90% !important;
            margin: auto !important;
        }
        #c-pools #a-show h1 {
            /*** POOL TITLE ***/
            font-stretch: condensed !important;
            margin-top: -10px !important;
        }
        #c-pools #a-show article {
            /*** POOL THUMBNAILS ***/
            padding-bottom: 34px !important;
        }
        #c-pools #a-show article #illustration_dimension {
            /*** POOL THUMBNAILS ILLUSTRATION DIMENSION ***/
            background: #3F3F3F !important;
            color: #FFF !important;
            font-size: 9.5pt !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 8px 10px 9px 10px !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            bottom: 0px !important;
        }
        #c-pools #a-show .paginator, 
        #c-pools #a-show hr {
            /*** POOL PAGINATION/HR ***/
            display: none !important;
        }

/* GALLERY */
/** DESCRIPTION : change the elements in the gallery page **/
        #c-posts #a-show #content {
            /*** GALLERY CONTAINER ***/
                position: absolute !important;
                top: 100px !important;
                left: 0px !important;
                right: 0px !important;
                width: 90% !important;
                margin: auto !important;
        }
        #c-posts .notice-resized {
            /*** GALLERY NOTICE RESIZE BOX ***/
            display: none !important;
        }
        #c-posts div.notice.notice-parent,
        #c-posts div.notice.notice-child {
            /*** GALLERY PARENT/CHILD BOXES ***/
            border-radius: 1px !important;
            font-size: 13px !important;
            height: 100% !important;
            max-height: 14px !important;
            padding: 12px 15px 15px 15px !important;
            top: 20px !important;
            position: relative !important;
        }
        #c-posts div.notice.notice-parent:hover,
        #c-posts .notice.notice-child:hover {
            max-height: 100% !important;
        }
        #has-parent-relationship-preview,
        #has-children-relationship-preview {
            margin-top: 12px !important;
        }
        .post-preview.post-status-has-parent img,
        .post-preview.post-status-has-children img {
            border: none !important;
        }
        #c-posts .notice-parent {
            background: #53DF83 !important;
            border-color: #5ECA7F !important;
        }
        #c-posts .notice-child {
            background: #FFE1AE !important;
            border-color: #F9B32A !important;
        }
        #c-posts .notice-pending {
            /*** GALLERY PENDING NOTICE ***/
            border-color: #1DABB8 !important;
            background: #83D6DE !important; 
            border-radius: 1px !important;
            font-size: 13px !important;
            position: relative !important;
            top: 17px !important;
            margin-left: 0px !important;
            margin-bottom: 20px !important;
        }
        #c-posts .notice-deleted {
            /*** GALLERY DELETED NOTICE ***/
            border-radius: 1px !important;
            border-color: #C82647 !important;
            background: #FF6766 !important;
            font-size: 13px !important;
            position: relative !important;
            top: 17px !important;
            margin-left: 0px !important;
            margin-bottom: 20px !important;
            padding: 10px !important;
        }
        div#notice:not(.ui-state-error) {
            /*** GALLERY FAVORITE POST NOTICE ***/
            border-color: #212121 !important;
            background: #3E4651 !important; 
            border-radius: 1px !important;
            color: #FFF !important;
            font-size: 11pt !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 10px 0px 10px 14px !important;
            position: fixed !important;
            top: 60px !important;
            left: 20px !important;
            width: 300px !important;
        } 
        #close-notice-link {
            background: no-repeat url('https://imgur.com/4GlrMN7.png') center !important;
            background-size: 20px auto !important;
            color: transparent !important;
            filter: brightness(0) invert(1) !important;
            right: 5px !important;
        }
        #c-posts #a-show #image-container {
            /*** GALLERY IMAGE CONTAINER ***/
            height: auto !important;
            width: 100% !important;
            text-align: center !important;
            margin-left: -10px !important;
            padding-top: 20px !important;
        }
        #c-posts #a-show #content #image-container #image {
            box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
        }
        #c-posts #a-show #content #image-container #information-btn {
            background: #FCB941 !important;
            border: 1px solid #F9AE74 !important;
            color: #FFF !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 8px 15px !important;
            width: 50% !important;
            text-transform: uppercase !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }      
        #image-container p.desc {
            /*** GALLERY ILLUSTRATION DATA ***/
            display: none !important;
        }
        #c-posts #a-show #post-sections {
            /*** GALLERY POST SECTIONS CONTAINER ***/
            display: none;
        }
        #c-posts #a-show #content #comments h2 {
            display: none !important;
        }
        #c-posts #a-show #nav-links {
            /*** GALLERY NAVIGATION LINKS ***/
            display: none !important;
        }
        #c-posts #a-show #artist-commentary {
            /*** GALLERY AUTHOR COMMENT ***/
            border-radius: 1px !important;
            margin-left: -15px !important;
            margin-bottom: -15px !important;
        }
        #artist-commentary h2 {
            font-stretch: condensed !important;
            padding-left: 15px !important;
            padding-top: 15px !important;
        }
        #artist-commentary #commentary-sections {
            padding-left: 12px !important;
            padding-top: 5px !important;
            margin-bottom: -5px !important;
        }
        #artist-commentary section {
            padding: 15px 15px 10px 15px !important;
        }
        #c-posts #a-show #comments {
            /*** GALLERY COMMENTS ***/
            position: absolute !important;
            right: 0px !important;
            left: 0px !important;
            margin: 30px auto !important;
        }
        #c-posts #a-show #comments .comment {
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            padding: 20px !important;
            width: inherit !important;
            float: none !important;
        }
        .comment .author h1 .user-member {
            color: #2C82C9 !important;
            font-stretch: condensed !important;
        }
        #c-posts #a-show #comments .list-of-comments > p {
            visibility: hidden;
            margin-top: -50px !important;
        }
        .comments-for-post .row.notices {
            font-stretch: condensed !important;
            font-weight: bold !important;
            text-align: center !important;
            text-transform: uppercase !important;
            margin-top: -10px !important;
            margin-bottom: 40px !important;
        }
        .comments-for-post .row.notices * {
            color: #5692BF !important;
        }
        .new-comment {
            color: #83D6DE !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            text-align: center !important;
            text-transform: uppercase !important;
            margin-bottom: 40px !important;
        }
        .new-comment .expand-comment-response {
            background: no-repeat url("https://i.imgur.com/b9EG8CP.png") center !important;
            background-size: 20px auto !important;
            color: transparent;
        }
        form.simple_form div.input span.hint {
            display: none !important;
        }
        form.simple_form div.input label {
            display: none !important;
        }
        form.simple_form div.input textarea {
            width: 60% !important;
            padding: 20px !important;
        }
        .btn[value="Submit"], 
        input[value="Preview"] {
            color: #FFF !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 5px 15px 6px 15px !important;
            text-transform: uppercase !important;
            margin-right: 5px !important;
        }
        .btn[value="Submit"] {
            background: #3E4651 !important;
            border: 1px solid #212121 !important;
        }
        input[value="Preview"] {
            background: #2C82C9 !important;
            border: 1px solid #00587A !important;
        }
        #c-posts #a-show #sidebar {
            /*** GALLERY SIDEBAR ***/
            background: rgba(248,248,248,.98) !important;
            height: 100% !important;
            width: 100% !important;
            overflow: hidden;
            padding-top: 10px !important;
            position: fixed !important;
            top: 0px !important;
            left: 0px !important;
            margin-right: 50px !important;
            z-index: 9999 !important;
            visibility: hidden;
            overflow-y: scroll !important;
        }
        #c-posts #a-show #sidebar #search-box input[type='text'] {
            /*** GALLERY SIDEBAR SEARCH BOX INPUT ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            padding: 12px 15px !important;
            width: 90% !important;
        }
        #c-posts #a-show #expand-search {
            background-image: url("https://i.imgur.com/ZHtOY2h.png") !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: 14px auto !important;
            border: 1px solid #BEBEBE !important;
            color: transparent !important;
            padding: 12px 15px !important;
            margin-left: -40px !important;
        }
        #c-posts #a-show #sidebar #search-box,
        #c-posts #a-show #sidebar #tag-list,
        #c-posts #a-show #sidebar #post-information,
        #c-posts #a-show #sidebar #post-options,
        #c-posts #a-show #sidebar #post-history {
            padding-left: 20px !important;
        }
        #c-posts #a-show #sidebar h1,    
        #c-posts #a-show #sidebar h2 {
            font-size: 11pt !important;
            font-stretch: condensed !important;
            text-transform: uppercase !important;
            margin-bottom: 10px !important;
        }
        #c-posts #a-show #sidebar ul li {
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            display: inline-block !important;
            padding: 5px 10px 6px 10px !important;
            margin-right: 5px !important;
            margin-bottom: 5px !important;
        }
        #c-posts #a-show #sidebar #close-btn {
            background: url('https://imgur.com/4GlrMN7.png') no-repeat 50% 50%;
            background-size: 25px auto !important;
            background-color: transparent !important;
            border: none !important;
            color: transparent !important;
            position: fixed !important;
            top: 20px !important;
            right: 30px !important;
        }
    
/* FORUM */
/** DESCRIPTION : change the elements of the forum page **/
        #c-forum-topics #a-show h1 {
            /*** FORUM TOPIC TITLE ***/
            background: #F9F9F9 !important;
            border: none !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
            font-size: 14pt !important;
            font-stretch: condensed !important;
            font-weight: normal !important;
            padding: 10px 15px 12px 15px !important;
            position: fixed !important;
            top: 39px !important;
            left: 0px !important;
            right: 0px !important;
        }
        #c-forum-topics > #a-show > .info {
            font-size: 10pt !important;
            font-style: normal !important;
            position: fixed !important;
            top: 15px !important;
            right: 22px !important;
        }
        .list-of-forum-posts {
            /*** FORUM TOPIC POSTS ***/
            margin-top: 125px !important;
        }
        #c-forum-topics #a-show .forum-post {
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            padding: 20px !important;
            margin-bottom: 10px !important;
        }
        #c-forum-topics #a-show .forum-post .author .user-post-uploader {
            color: #2C82C9 !important;
            font-size: 13pt !important;
            font-stretch: condensed !important;
        }
        .forum-post .prose .expandable {
            border: 1px solid #212121 !important;
        }
        .expandable-header {
            padding-left: 14px !important;
        }
        .expandable-content pre {
            border: 1px solid #212121 !important;
            padding: 10px 15px !important;
            margin-top: 0px !important;
        }
        #c-forum-topics #a-show .forum-post .info {
            font-style: normal !important;
            font-size: 10pt !important;
        }
        #c-forum-topics #a-show .list-of-forum-posts .forum-post .content .prose pre {
            border: 1px solid #212121 !important;
            padding: 10px 15px !important;
        }
        input[value = 'Show'],
        input[value = 'Hide'] {
            background: #60646D !important;
            border: 1px solid #344146 !important;
            color: #FFF !important;
            font-stretch: condensed !important;
            font-weight: bold !important;
            padding: 5px 15px 6px 15px !important;
            text-transform: uppercase !important;
            margin-right: 5px !important;
        }
        #c-forum-topics > #a-show > p {
            /*** FORUM TOPIC REPLY BUTTON ***/
            text-align: center !important;
            margin-top: 40px !important;
            margin-bottom: 50px !important;
        }
        #new-response-link {
            background: no-repeat url("https://designmodo.com/wp-content/themes/designmodov2.1/flat-ui/images/join-conversation.png") center !important;
            background-size: 20px auto !important;
            color: transparent;
            width: 100% !important;
        }
        #topic-response #new_forum_post {
            text-align: center !important;
            margin-bottom: 30px !important;
        }
        #c-forum-topics #a-show .paginator {
            /*** FORUM PAGINATION ***/
            margin-top: -30px !important;
            margin-bottom: 30px !important;
        }
        #c-forum-topics #a-show .paginator li * {
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            font-stretch: condensed !important;
        }

/* COMMENTS */
/** DESCRIPTIN : change the elements of the comments page **/
        #c-comments {
            width: 90% !important;
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            margin: 80px auto !important;
        }
        #c-comments #a-index h1,
        #c-comments #a-index h2 {
            /*** COMMENTS TITLES ***/
            display: none !important;
        }
        #c-comments #a-index .post {
            /*** COMMENTS POSTS ***/
            background: #FFF !important;
            border: 1px solid #BEBEBE !important;
            padding: 20px 20px 30px 20px !important;
            margin-bottom: 10px !important;
        }
        #c-comments #a-index .preview {
            /*** COMMENTS THUMBNAILS ***/
            border: 2px solid #BEBEBE !important;
            height: 253px !important;
            width: auto !important;
        }
        #c-comments #a-index #illustration_dimension {
            /*** COMMENTS THUMBNAILS ILLUSTRATION DIMENSION***/
            display: none !important;
        }
        #c-comments #a-index .list-of-comments,
        #c-comments #a-index .new-comment,
        #c-comments .paginator,
        #c-comments hr {
            display: none !important;
        }
}
